
.demo-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f9fa;
    margin-bottom: 5%;
    width:1300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 8px 8px 5px rgb(101, 100, 100);
}

.demo-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
    margin-bottom: 2.5rem;
}

.demo-subtitle {
    margin-top: 0.5rem;
    font-size: 2.5rem;
    line-height: 2.25rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: #000000;
}

.demo-box {
    /* background-color: #ffffff; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); */
    border-radius: 1rem;
    padding: 1.5rem;
}

.demo-space {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.upload-box {
    border: 2px dashed #000000;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
}

.upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-icon {
    font-size: 1.5rem;
    color: rgb(26, 25, 25);
}

.upload-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #38393a;
}

.upload-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem ;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color:#556b2f;
    transition: none;
    cursor: pointer;
}

.upload-button:hover {
    color:  #a1c95d;
    background-color: #191717;
}
.file-name{
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.lucide {
    display: inline-block;
    stroke: currentColor;
}

.h-5 {
    height: 1.25rem;
}

.w-5 {
    width: 1.25rem;
}

.text-green-500 {
    color: #10b981;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item {
    background-color: #e3e3ed;
    padding: 1rem;
    border-radius: 0.5rem;
}

.grid-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f1f20;
}

.status-icon {
    font-size: 1.25rem;
    color: #10b981;
}

.grid-value {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937;
}


@media (min-width: 640px) {
    .action-text {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}